<div class="mt-4">
    <div>
        <h3>Khóa học đã xóa</h3>
        <a href="/me/stored/courses">quay lại</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên</th>
                <th scope="col">Trình độ</th>
                <th scope="col" colspan="2">Thời gian xóa</th>

            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.deletedAt}}</td>

                <td>
                    <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id={{this._id}}
                        data-target="#delete-course-modal">Xóa vĩnh viễn</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Thùng rác trống!!!
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- confirm delete --}}
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">XÓA KHÓA HỌC?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Hành động này không thể khôi phục</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa vĩnh viễn</button>
            </div>
        </div>
    </div>
</div>


<form name="delete-course-form" method="POSt"></form>
<form name="restore-course-form" method="POSt"></form>


<script>
    document.addEventListener('DOMContentLoaded',function(){
        var courseId;
        var deleteForm=document.forms['delete-course-form']
        var restoreForm=document.forms['restore-course-form']
        var btndeletecourse = document.getElementById('btn-delete-course')
        var btnRestore=$('.btn-restore')

        $('#delete-course-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); 
        courseId = button.data('id');
        });
        
        btndeletecourse.onclick= function(){
           deleteForm.action='/courses/'+courseId+ '/force?_method=DELETE';
           deleteForm.submit();
        }
        btnRestore.click(function(e){
            var courseId = $(this).data('id')
            e.preventDefault()
            console.log(courseId)
            restoreForm.action='/courses/'+courseId+'/restore?_method=PATCH';
            restoreForm.submit()
        })

    })
</script>